@import "../common/colours";

nav {
  position: fixed;
  display: flex;
  width: 70%;
  height: 100%;
  right: 0;
  top: 0;
  align-items: center;
  background: $secondary-black;
  color: white;

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  li {
    padding: 10px;
    font-size: 1.2em;
  }

  li {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
  }

  a {
    color: #f0ffff;
  }
}

nav.hide {
  display: none;
}

[class*="active"] {
  color: black;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  nav {
    position: static;
    height: auto;
    justify-content: flex-end;
    background: transparent;

    ul {
      display: flex;
      height: 100%;
      width: auto;
    }

    a:hover {
      border-bottom: 3px solid #222;
    }
  }

  nav.hide {
    display: flex;
  }
}
